.retrieve-password{
	margin-top:1.2em;
}
.retrieve-password h1{
	text-align: center;
	margin-bottom:1em;
	font-size: 1.7em;
}
.submitOrCancel button{
	float: right;
}
.submitOrCancel button:last-of-type{
	margin-right: 1em;
}

@media screen and (min-width: 480px){
	.retrieve-password{
		width: 90%;
		margin: 5em auto;
	}
}

@media screen and (min-width: 768px){
	.retrieve-password{
		width: 50%;
		margin: 6em auto;
	}
}