
<div class="retrieve-password">
	<h1>Retrieve your password</h1>
	<form>
		<div class="form-group">
			<label for="email">Email:</label>
			<input type="email" class="form-control" id="email">
		</div>
		
		<div class="submitOrCancel">
			<button type="submit" class="btn btn-default">Send</button>
			<a routerLink="/marialex.com/login"><button type="submit" class="btn btn-default">Cancel</button></a>
		</div>
	</form>
</div>
