*{
	margin: 0px;
	padding: 0px;
}
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #d0e9f4; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3168a5; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #24509e; 
}
.about{
	max-width: 400px;
	margin:10px auto;
	border: 1px solid #000000;
	border-radius: 5px;
	h1{
		font-size: 1.6em;
		text-align: center;
		line-height: 40px;
		background-color: #000000;
		color: #FFFFFF;
		border-bottom: 1px solid #000000;
	}
	p{
		padding:10px;
		max-height: 480px;
		text-indent:50PX;
		overflow-y: scroll;
	}
}