<div class="content">
    <div class="innerContent">
        <section class="profile sticky">
            <div class="header">
                
            </div>
            <div class="body"></div>
            <div class="footer"></div>
        </section>
        <div class="feeds">
            <div class="innerfeed">
                <div class="create-post">
                    <form (ngSubmit)="OnCreatePost()">
                        <div class="form-group">
                            <textarea placeholder="Write a thought" name="newPost.body"  [(ngModel)]="newPost.body">
                            </textarea>
                        </div>
                        <button type="submit" class="post-button">Post</button>
                    </form>
                    <div class="userProfile"></div>
                </div>
                <div class="newPost" *ngFor="let post of posts">
                    <div class="post-title">
                        {{post.title}}
                    </div>
                    <div class="post-body">
                        {{post.body}}
                    </div>
                    <div class="operations">
                        <div class="delete">
                            <button type="submit"  (click)="onDeletePost(post)">delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <section class="rightbar sticky">
            <div class="header">
                
            </div>
            <div class="body"></div>
            <div class="footer"></div>
        </section>
    </div>
</div>