
::-webkit-scrollbar {
    display: none;
}
.content{
    display: block;
    width: 100%;
    margin: auto;
    top:85px;
    padding: 0px 1em;
    position: fixed;
    overflow: hidden;;
    .innerContent{
        display: flex;
        background-color: transparent;
        margin: auto;
        
        
        .profile,.rightbar{
            width: 200px;
            top: 100px;
            display: none;
            max-height: 300px;
            background-color:#FFFFFF;
            border: 1px solid #000000;
        }
        .feeds{
            width: 90%;
            flex: 1;
            margin: auto;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            overflow: auto;
            max-height: 700px;
            position: static;
            .innerfeed{
                width: 100%;
                height: auto;
                padding: 5px;
                padding-bottom: 300px;
                //border: 1px solid #000000;
                background-color: transparent;
                
                .create-post{
                    width:100%;
                    height: 150px;
                    margin: auto;
                    overflow: hidden;
                    padding: 5px;
                    padding-top: 8px;
                    padding-left: 10px;
                    background-color: #FFFFFF;
                    display: flex;
                    .userProfile{
                        width: 40px;
                        height: 40px;
                        background: #b3b3b3;
                        border-radius: 100%;
                    }
                  form{
                      padding:2px 4px;
                      overflow: hidden;
                      flex: 1;
                      textarea{
                        width: 100%;
                        height: 70px;
                        resize: none;
                        padding: 5px;
                        background-color: rgba(245, 245, 245, 0.867);
                        border: none;
                        outline: none;
                        color:#000000;
                    }
                    .post-button{
                        width: 60px;
                        height:27px;
                        color:#FFFFFF;
                        outline: none;
                        border: 1px solid #006677;
                        text-align: center;
                        background-color: #006699;
                        float: right;
                    }
                  }
                }  
                .newPost{
                    margin-top: 1em;
                    background-color: #FFFFFF;
                    padding: 5px;
                    margin-bottom: auto;
                    .operations{
                        display: flex;
                        margin-top: 5px;
                        .delete button{
                            background-color: transparent;
                            border:none;
                            outline: none;
                            padding: none;
                        }
                    }
                }          
                
            }
            
        }
    }
    
}

@media screen and (min-width:500px) {
    
    .content{
        
        .innerContent{
            
            .feeds{
                padding: 0px 5%;;
                
            }
        }
        
    }
    
    
    
}

@media screen and (min-width:600px) {
    .content{
        .innerContent{
            .feeds{
                padding: 0px 10%;
            }
        }
    }
    
}


@media screen and (min-width:768px) {
    .content{
        .innerContent{
            .feeds{
                padding: 0px;
                
            }
            .profile{
                display: block;
            }
        }
    }
    
}

@media screen and (min-width:800px) {
    .content{
        .innerContent{
            width: 776px;
            margin: auto;
        }
    }
    
}


@media screen and (min-width:940px) {
    .content{
        .innerContent{
            width: 100%;
            .rightbar{
                display: block;
            }
        }
    }
}


@media screen and (min-width:1000px) {
    .content{
        .innerContent{
            width: 954px;
            margin: auto;
        }
    }
    
}


//  @media screen and (min-width:1000px) {
    //     .content{
        //            .feeds{
            //               margin-right: 12%;
            //            }
            //     }
            
            //}