*{
	padding: 0px;
	margin: 0px;
}

.navigation{
	width: 100%;
	overflow: hidden;
	padding: 2px;
	padding-bottom: 0px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0b4f69+3,207cca+45,0b4f69+99 */
background: #0b4f69; /* Old browsers */
background: -moz-linear-gradient(top, #0b4f69 3%, #207cca 45%, #0b4f69 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #0b4f69 3%,#207cca 45%,#0b4f69 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #0b4f69 3%,#207cca 45%,#0b4f69 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b4f69', endColorstr='#0b4f69',GradientType=0 ); /* IE6-9 */
}
.top-nav{
	overflow: hidden;
	padding-bottom: 10px;
	padding-right: 5px;
}

ul{
	list-style-type: none;
	padding: 0px;
}
.current{
	background-color: #0b4f69;
}
.desktop{
	display: none;
}
.brand{
	width: 400px;
	line-height: 35px;
	text-align: center;
	padding-top:5px;
	font:2em Impact;
	color: #fc2302;
	text-shadow: 2px 2px 2px #FFFFFF;
	margin: auto;
}
.menuButton{
	width: 50px;
	height: 40px;
	padding-top: 5px;
	padding-left: 3px;
	cursor: pointer;
	font-family: Arial;
	float: right;
	
	img{
		width: 100%;
		height: 100%;
		border: 1px solid #ffffff;
		background-color:transparent;
	}
}
.main-menu{
	margin-top:10px;
	border-top:2px solid #FFFFFF;
	overflow: hidden;
	border-bottom:1px solid #ffffff;
	li{
		overflow: hidden;
	}
	li a{
		display: block;
		cursor: pointer;
		padding-left: 30px;
		color: #FFFFFF;
		line-height: 35px;
		text-decoration: none;
	}
	li a:hover{
		color:#0490d1;
	}
}

.identification{
	width: 100%;
	padding: 2px;
	font-family: Arial;
	padding-bottom: 0px;
	border-top: 1px solid #FFFFFF;
	li{
		width: 50%;
		float: left;
		text-align: center;
	}
	a{
		display: block;
		line-height: 40px;
		cursor: pointer;
		color: #FFFFFF;
		text-decoration:none;
	}
	a:hover{
		color:#0490d1;
		text-transform: capitalize;
	}
	li:first-of-type{
		border-right: 1px solid #FFFFFF;
	}
	li:last-of-type{
		border-left: 1px solid #000000;
	}
}

@media screen and (min-width: 480px) {
	.main-menu li{
		width: 25%;
		float: left;
		a{
			text-align: center;
			padding: 0px;
		}
	}
}

@media screen and (min-width: 768px) {
	.navigation{
		padding: 0px;
		padding-bottom: 10px;
	}
	.mobile{
		display: none;
	}
	.desktop{
		display: block;
	}
	.top-nav, .main-menu,.identification{
		display: inline-block;
		overflow: hidden;
	}
	.identification{
		width: 200px;
		float: right;
	}
	.main-menu{
		width: 420px;
		background-color: transparent;
		border: none;
		overflow: hidden;
		margin-top: 12px;
	}
	.top-nav{
		width: 200px;
		height: 40px;
		font-size: 1em;
		margin-bottom: 5px;
		margin-top:10px;
		padding: 0px;
		.brand{
			width: 100%;
			height: 100%;
			span{
				display: block;
			}
		}
	}
	.identification{
		margin-top: 15px;
		border: none;
		li:first-of-type{
			border-right: none;
		}
		li:last-of-type{
			border-left: none;
		}
		a{
			line-height: 30px;
		}
	}
	.current{
		background-color: transparent;
		border-bottom: 2px solid #fc2302;
	}
}







