<nav class="navigation" (window:resize)="onResize($event)">
	<div class="top-nav">
		<div class="menuButton mobile" (click)="show = !show">
			<img src="../../../assets/icons/menu.png">
		</div>

		<div class="brand">
			<span>FreePost</span>
		</div>
	</div>

	<ul class="main-menu" (click)="hideMainMenu()" *ngIf="show" [@enterAnimation] >
		<li routerLinkActive="current"><a [routerLink]="['home']">HOME</a></li>
		<li routerLinkActive="current"><a [routerLink]="['feeds']">FEEDS</a></li>
		<li routerLinkActive="current"><a [routerLink]="['videos']">VIDEOS</a></li>
		<li routerLinkActive="current"><a [routerLink]="['about']">ABOUT</a></li>
	</ul>
	<ul class="identification" (click)="hideIdentificationMenu()" *ngIf="show" [@enterAnimation] >
		<li routerLinkActive="current"><a [routerLink]="['login']">LOGIN</a></li>
		<li routerLinkActive="current"><a [routerLink]="['signup']">SIGNUP</a></li>
	</ul>
</nav>
