<div class="home">
  <div class="jumbotron">
    <h1>{{displayJumbo.title}}</h1>      
    <p>{{displayJumbo.body}}</p>
    <button (click)="readMore()" type="submit" class="btn btn-primary">More >> </button>
  </div>
</div>
