.home{
	width: 100%;
	height: 100%;
	
background: -moz-linear-gradient(top, #0b4f69 3%, #207cca 45%, #0b4f69 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #0b4f69 3%,#207cca 45%,#0b4f69 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #0b4f69 3%,#207cca 45%,#0b4f69 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b4f69', endColorstr='#0b4f69',GradientType=0 ); /* IE6-9 */
	padding: 3em 1em;
	border-top: 5px solid #FFFFFF;
}

.jumbotron {
	height: 350px;
	background-color:#FFFFFF !important; 
	position: relative;
	
}
.jumbotron p, .jumbotron h1{
	padding: 0px 1em;
}
.jumbotron button{
	position: absolute;
	bottom: 50px;
	left:100px;
}
@media screen and (max-width: 479px) {
	.jumbotron h1{
		font-size:1.4em;
		transition: 500ms;
	}
	.jumbotron p{
		font-size:1.2em;
		transition:500ms;
	}
}



@media screen and (min-width: 480px) {
	.jumbotron h1{
		font-size:1.8em;
		transition:500ms;
	}
	.jumbotron p{
		font-size:1.5em;
		transition:500ms;
	}
}

@media screen and (min-width: 768px) {
	.jumbotron h1{
		font-size:2em;
	}
	.jumbotron p{
		font-size: 1.7em;
	}
}


