*{
	margin: 0px;
	padding: 0px;
}
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #d0e9f4; 
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #3168a5; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #24509e; 
}

.privacy-policy{
	max-width: 400px;
	margin:10px auto;
	border: 1px solid #000000;
	border-radius: 5px;
	h1{
		font-size: 1.6em;
		text-align: center;
		line-height: 40px;
		background-color: #000000;
		color: #FFFFFF;
		border-bottom: 1px solid #000000;
	}
	p{
		padding:10px;
		max-height: 430px;
		text-indent:50PX;
		background-color: #FFFFFF;
		overflow-y: scroll;
	}
}
span{
	display: block;
	width: 50%;
	float: left;
	margin-top: 10px;
}
span:first-of-type{
	text-align: right;
	padding-right: 10px;
}
span:last-of-type{
	text-align: left;
	padding-left: 10px;
}
.btn{
	width: 100px;
}