.login-page{
	width: 280px;
	overflow: hidden;
	margin:auto;
}
.login-page h1{
	text-align: center;
	margin-bottom:.5em;
	font-size: 1.5em;
}
.social{
	width: 100%;
	padding: 2px 0px;
}
.social button{
	width: 100%;
	box-shadow: none;
	border-radius: 5px;
	color:#FFFFFF;
	font-weight: #100;
	outline: none;
}
.login-option{
	display: block;
	text-align: center;
	margin-bottom: .5em;
	color: #929497;
}
.line-separator{
	width: 100%;
	margin:.5em 0px;
	text-align: center;
}

.line-separator span:nth-child(odd){
	width: 100px;
	line-height: 10px;
	border-bottom: 2px solid #CCCCCC;
}
.line-separator span:nth-child(even){
	width: 40px;
	padding-top:1em;
	color: #929497;
	text-align: center;
}
.line-separator span{
	display: inline-block;
}
.facebook button{
	background-color: #365899;
	border:1px solid #365899;
}
.facebook button:hover{
	background-color: #3068d1;
}
.google button{
	background-color: #d34836;
	border: 1px solid #d34836;
}
.google button:hover{
	background-color:#C20806;
}
.twitter button{
	background-color: #1dcaff;
	border:1px solid #1dcaff;
}
.twitter button:hover{
	background-color: #00B6F1;
}
.registerOrRetrievePassword{
	text-align: right;
	margin-top: 1em;
	font-weight: bold;
	overflow: hidden;
	span{
		width:50%;
		float: left;
		font-size:.7em;
		text-align: center;
		font-family: Arial;
		text-align: right;
		padding-right: 3px;
	}
	
}

@media screen and (min-width: 480px){
	.login-page{
		width: 300px;
	}
	.registerOrRetrievePassword{
		
		span{
			font-size: .8em;
		}
		
	}
	
}

/*@media only screen and (min-device-width: 600px) and (max-device-width: 767px) and (orientation:landscape) {}*/
