	<div class="login-page">
		<h1>Login</h1>
		<span class="login-option">With</span>
		
		<div class="social facebook">
			<button>Facebook</button>
		</div>
		<div class="social google">
			<button>Google plus</button>
		</div>
		<div class="social twitter">
			<button>Twitter</button>
		</div>
		<div class="line-separator">
			<span></span>
			<span>Or</span>
			<span></span>
		</div>
		
		<form>
			<div class="form-group">
				<label for="email">Email address:</label>
				<input type="email" class="form-control" id="email">
			</div>
			<div class="form-group">
				<label for="pwd">Password:</label>
				<input type="password" class="form-control" id="pwd">
			</div>
			<div class="checkbox">
				<label><input type="checkbox"> Remember me</label>
			</div>
			<button type="submit" class="btn btn-default">Login</button>
		</form>
		<div class="registerOrRetrievePassword">
			<span>Not a member? <a routerLink="/marialex.com/signup">Register</a></span>
			<span>Forgot password? <a routerLink="/marialex.com/retrive-password">Retrieve</a></span>
		</div>
	</div>
