.pageNotFound{
    width: 100%;
    min-height: 480px;
    margin-top:2em;
    overflow: hidden;
    background-color: #FFFFFF;
    text-align: center;
    color:#777777;
}
.content{
    width: 300px;
    height: auto;
    margin:2em auto;
    padding-top: 2em;
    overflow: hidden;
}
.header{
    width: 100%;
    font-size: 1em;
}