
  <div class="pageNotFound">
    <div class="content">
      <div class="header">
        <h1>404 Error</h1>
        <hr>
      </div>
      <div class="body">
        <h2>Page not found</h2>
      </div>
      <div class="footer">
        <h5>Please visit home page</h5>
      </div>
    </div>
  </div>