
.main{
    padding-bottom: 3px;
    overflow: hidden;
}
.navigation{
    width: 100%;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    padding-bottom: 3px;
    position: fixed;
    z-index: 30;
    .logo{
        width: 100%;
        overflow: hidden;
        line-height: 40px;
        font-size: 1.5em;
        font-weight: bolder;
        background-color: #006699;
        color: #d41111;
        text-shadow: 2px 2px 2px #cccccc;
    }
    nav{
        width: 100%;
        height: 40px;
        overflow: hidden;
        background-color: #006699;
        padding: 3px 0px;
        margin-bottom: 1em;
        display: flex;
        border-bottom:1px solid #000000;
        
        .menu{
            display: flex;
            padding: 1px;
            float: left;
            padding: 0px 3px;
            overflow: hidden;
            a,button{
                width: 30px;
                height:29px;
                padding:2px;
                padding-bottom: 4px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            button{
                background-color: transparent;
                border: none;
                outline: none
            }
            
        }
        .menu:first-child{
            flex: 1;
            a{
                margin-right:5px;
            }
        }
        .menu-icon{
            flex: 1;
            justify-content: flex-end;
            a:last-child{
                width: 50px;
            }
        }
        .menu .item1,.item2,.item3{
            display: none;
        }
        .search{
            flex:3;
            z-index: 30px;
            .input{
                position: relative;
                z-index: 50px;
                button{
                    width: 40px;
                    height:94%;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    border:none;
                    background-color: transparent;
                    outline: none;
                    padding:5px;
                    padding-top: 3px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                input{
                    flex: 1;
                    width: 100%;
                    border-radius: 5px;
                    padding: 2px;
                    padding-right: 40px;
                    border: 1px solid #000000;
                }
            }
            
        }
        
    }
    
}

.search-result{
    width: 60%;
    bottom: 5px;
    margin:auto;
    margin-top: -1em;
    background-color:#ffffff;
    border: 1px solid #000000;
    display:none;
    min-height: 150px;
    .result{
        text-align: center;
        font-size: 1em;
    }
    ul{
        list-style-type: none;
        li{
            text-align: left;
            a{
                display: block;
            }
        }
    }
    
}
.search-result:hover{
    display: block;
}
.sidebar{
    width: 100%;
    min-height: 150px;
    position: fixed;
    top: 80px;
    left: 0px;
    z-index: 30;
    background-color: #ffffff;
    overflow: hidden;
    border: 1px solid #0e4a68;
    ul{
        width: 100%;
        padding: 0px;
        min-height: inherit;
        li{
            list-style-type: none;
            a{
                padding-left: 30px;
                color: #006699;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1.1em;
                display: block;
                line-height:40px;
            }
        }
    }
}


input:focus #search-result{
    display: block;
}
@media screen and (min-width: 480px) {
    .navigation{
        nav{
            .menu .item1{
                display: inherit;
            }
            .menu-icon{
                justify-content: space-between;
            }
            .search .input{
                width: 90%;
                margin: auto;
            }
            
        }
    }
    
}

@media screen and (min-width: 600px) {
    .navigation{
        nav{
            
            .menu:first-child{
                padding-right: 10px;
                justify-content: space-between;
            }
            
        }
        
    }
    
    .sidebar{
        width: 205px;
        min-height: 600px;
        position: fixed;
        ul{
            padding-top: 20px;
        }
    }
}


@media screen and (min-width: 768px) {
    .navigation{
        nav{
            
            .menu .item2{
                display: inherit;
            }
            
        }
        
    }
}

@media screen and (min-width: 900px) {
    .navigation{
        nav{
            .menu:first-child{
                padding-left: 10px;
            }
            .menu .item3{
                display: inherit;
            }
            
        }
        
    }
}