<div class="main">
  
  <nav class="navigation">
    <div class="logo">
      Marialex
    </div>
    <nav>
      <div class="menu">
        <a routerLink="" class="home">
          <img src="../../../../../assets/icons/home.png" alt="home">
        </a>
        <a [routerLink]="['home']" class="profile">
          <img src="../../../../../assets/icons/profile.png" alt="home">
        </a>
        <a [routerLink]="['home']" class="item1">
          <img src="../../../../../assets/icons/feedback.png" alt="home">
        </a>
        <a [routerLink]="['home']" class="item2">
          <img src="../../../../../assets/icons/job.png" alt="home">
        </a>
      </div>
      <div class="search">
        <div class="input">
          <form>
            <input placeholder="Search" type="seach" name="search" id="search"
            (focus)="onFocus()" (focusout)="onFocusOut()" (keyup)="search()"
            [(ngModel)]="searchValue" name="searchValue">
            <button type="submit">
              <img src="../../../../../assets/icons/search.png" alt="home">
            </button>
          </form>
        </div>
      </div>
      <div class="menu menu-icon">
        <a [routerLink]="['home']" class="item1">
          <img src="../../../../../assets/icons/connect.png" alt="home">
        </a>
        <a [routerLink]="['home']" class="item2">
          <img src="../../../../../assets/icons/event.png" alt="home">
        </a>
        <a [routerLink]="['home']" class="item3">
          <img src="../../../../../assets/icons/contact.png" alt="home">
        </a>
        <button (click)="toggleSideBar()">
          <img src="../../../../../assets/icons/feeds-menu.png" alt="home">
        </button>
      </div>
    </nav>
    <div id="search-result" class="search-result" #searchResults 
    (mouseover)="onMouseHover()" (mouseout)="onMouseOut()">
      <!-- <div class="result" *ngIf="numberOfElementFound !== undefined">Result {{numberOfElementFound}}</div> -->
      <!-- <div class="found" *ngIf="numberOfElementFound > 0; then foundOneOrMoreElement else foundZeroItem">
      </div> -->

      <div class="found-items" 
      *ngFor="let post of foundSearchArray">
      <div class="outer-layer">
        <ul>
          <li><a routerLink="marialex.com/feeds/post/1">{{post.postBody}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<section class="sidebar" *ngIf="show" [@enterAnimation]>
  <ul>
    <li><a href="">Home</a></li>
    <li><a href="">Home</a></li>
    <li><a href="">Home</a></li>
    <li><a href="">Home</a></li>
  </ul>
</section>
</div>

<ng-template #foundZeroItem class="no-result-found">
  <div class="outer-layer">
    <div class="innerLayer">
      No result found
    </div>
  </div>
</ng-template>

<!-- <ng-template #foundOneOrMoreElement class="found-items" 
  *ngFor="let post of foundSearchArray">
  <div class="outer-layer">
    <ul>
      <li><a href="">{{post.postBody}}</a></li>
    </ul>
  </div>
</ng-template> -->