.signup-page{
	width: 280px;
	overflow: hidden;
	margin: 1.2em auto;
}
.signup-page h1{
	text-align: center;
	margin-bottom:1em;
	font-size: 1.7em;
}

.memberLogin{
	text-align: right;
	span{
		margin-right:1em;
		font-family: Arial;
	}
}
.terms-and-conditions{
	text-align: center;
	padding-top: 10px;
}

@media screen and (min-width: 480px){
	.signup-page{
		width: 300px;
	}
}