	<div class="signup-page">
		<h1>Register</h1>
		<form>
			<div class="form-group">
				<label for="email">Email address:</label>
				<input type="email" class="form-control" id="email">
			</div>
			<div class="form-group">
				<label for="pwd">Password:</label>
				<input type="password" class="form-control" id="pwd">
			</div>
			<div class="form-group">
				<label for="confirmpwd">Confirm assword:</label>
				<input type="password" class="form-control" id="confirmpwd">
			</div>
			<div class="checkbox">
				<label><input type="checkbox"> Remember me</label>
			</div>
			<button type="submit" class="btn btn-default">Register</button>
		</form>
		<div class="memberLogin">
			<span>Already a member? <a routerLink="/marialex.com/login">login</a></span>
		</div>
		<div class="terms-and-conditions">
			<span>
				By clicking on Register, you are agreeing to the 
				<a routerLink="/marialex.com/terms-of-services">Terms of Service</a> 
				and 
				<a routerLink="/marialex.com/privacy-policy">privacy policy</a></span>
		</div>
	</div>